@import "tailwindcss"
/* Completely remove all scrollbars */
* {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html, body {
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
